/* Global Settings */
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Helper Classes */
.left {
    float: left;
}
.right {
    float: right;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}

.text-center {
    text-align: center;
}

.w-100 {
    width: 100%;
}
.w-50 {
    width: 50%;
}

.container {
    width: 1240px;
    margin: 0 auto;
}

/* Generic CSS */
/* 
* Header 
*/
#header {
    background-color: #333545;
    color: #fff;
    padding: 15px 0px;
}
#header a {
    color: #fff;
}
#header .col-1 {
    width: 55%;
}
#header .col-2 {
    width: 15%;
    padding-top: 10px;
}
#header .logo {
    width: 17%;
}
#header .search {
    width: 80%;
    position: relative;
}
#header .search input[type="text"] {
    width: 100%;
    height: 30px;
}
#header .search .btn {
    position: absolute;
    left: 10px;
    top: 5px;
    color: #999999;
    font-size: 20px;
    background-color: transparent;
    border: none;
}

#header .col-2 ul li{
    display: inline-block;
    margin: 0px 10px;
}

#main-navigation{
    background-color: #222539;
    height: 40px;
    margin-bottom: 30px;
}
#main-navigation .container{
    width: 1240px;
    margin: 0 auto;
    padding-top: 10px;
}

#main-navigation ul{
    list-style: none;
    
}

#main-navigation ul li{
    display: inline-block;
    text-align: center;
    padding-left: 15px;
}

#main-navigation ul li a{
    text-decoration: none;
    color:#F8FFEC;
font-size: 14px;    
}
/* 
* Main Navigation
*/
#main-navigation {

}

/* 
* Banner
*/
#banner {

}

/* 
* Main
*/
#main {

}

/* 
* Sidebar
*/
#sidebar {

}

/* 
* Footer
*/
#footer {

}


/* Specific CSS */

#section_1 {
    margin-bottom: 30px;
}
#section_1 h2 {
    margin-bottom: 20px;
}
#section_1 .left {
    width: 18%;
    margin-right: 20px;
}
#section_1 img {
    width: 100%;
    margin-bottom: 10px;
}
#section_1 a {
    color: #000;
}
#section_1 h4 {
    margin-bottom: 10px;
}
#section_1 a span {
    color: rgb(102, 102, 102);
}

#section_2{
    margin-bottom: 30px;
}

#section_2 h2{
    margin-bottom: 20px;
    }

#section_2 .left{
        width: 17%;
        margin-right:37px;
    }

#section_2 img{
        width:100%
    }

#section_3{
    background-color: #2B3148;
    padding-top: 10px;

}

#section_3 img{
    width:100%; 
}

#section_4{
    background-color: #2B3148;
    color: #FFFFFF;
    padding-top: 40px;
    padding-bottom: 40px;
}

#section_4 .left{
    margin-top: 20px;
    width: 18%;
    margin-right: 20px;
}

#section_4 .left img{
    width:100%;
    
}

#section_4 a{
    color: #FFFFFF;
    
}


#section_5{
    margin-top: 30px;
    margin-bottom: 30px;
}

#section_5 h2{
    margin-bottom: 20px;
    }

#section_5 .left{
        width: 17%;
        margin-right:37px;
    }

#section_5 img{
        width:100%
    }


    #section_5 a {
        color: #000;
    }
    #section_5 h4 {
        margin-bottom: 10px;
    }
    #section_5 a span {
        color: rgb(102, 102, 102);
    }
    
#section_6 {
background-color: #F5F5F5;
}

#section_6 h2{
    color:#333333;
}

#section_6 .left{
    width: 15%;
    background-color: #FFFFFF;
    margin-right: 16px;
    margin-top: 16px;
    padding: 14px 45px 12px 16px;
}

#section_6 div{
    color:#F94464
}

#section_6 span{
   color: rgb(102, 102, 102);
}

#footer_section_1{
    background-color: #404043;
}

#footer_section_1 .left{ 
width: 33%;
}

#footer_section_1 img{
    width: 34%;
    margin-left: 36px;
}

#footer_section_1 a{
color: #F3FFFF;
}

#footer_section_1_div_1{
    padding-top: 10px;
}

#footer_section_1_div_2{
    padding-top: 25px
}

#footer_section_2{
    background-color: #333338;
    }

#footer_section_2 h4{
    
padding-top: 20px;
    font-size: 12px;
    color: #F3FFFF;
}

    #footer_section_2 ul li{
display: inline-block;
    }

    #footer_section_2 ul li a{
        color: #F3FFFF;
        font-size: 11px;

    }

    #footer_section_3{
        background-color: #333338;
        padding-top: 100px;
        position: relative;
        z-index: -3;
    
    }
    
    #footer_section_3 h1 {
        text-align: center;
        position: relative;
    }
    #footer_section_3 h1.text {
        position: relative;
        z-index: 11;
    }
    #footer_section_3 h1 .border:after {
        content: "";
        border: 1px solid white;
        position: absolute;
        width: 100%;
        left: 0px;
        top: 50%;
        z-index: -2;
    }
    h1::before {
        content: "";
        background-color: #333338;
        width: 18%;
        left: 41%;
        height: 100%;
        position: absolute;
        z-index: -1;
    }
    
    #footer_section_4{
        background-color: #333338;
    }
    
    #footer_section_4 ul{
        text-align: center;
    }
    
    #footer_section_4 li{
        padding-top: 70px;
        display: inline-block;
        
    }
    
    
    #footer_section_4 svg{
        height:40px;
    }
    
    #footer_section_5 {
        background-color: #333338;
        padding-top: 60px;
    }
    
    #footer_section_5 div{
        text-align: center;
        font-size: 12px;
        color: #F3FFFF;
    
    }
    